---
branches:
only:
- master
language: ruby
bundler_args: --without development system_tests
before_install: rm Gemfile.lock || true
script: 'bundle exec rake test'
rvm:
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - 2.3.0
env:
  - PUPPET_GEM_VERSION="~> 3.6.0" STRICT_VARIABLES=yes
  - PUPPET_GEM_VERSION="~> 3.7.0" STRICT_VARIABLES=yes
  - PUPPET_GEM_VERSION="~> 3.8.0" STRICT_VARIABLES=yes FUTURE_PARSER=yes
  - PUPPET_GEM_VERSION="~> 4.0.0" STRICT_VARIABLES=yes
  - PUPPET_GEM_VERSION="~> 4.1.0" STRICT_VARIABLES=yes