---
branches:
only:
- master
language: ruby
script: 'bundle exec rake test'
matrix:
  fast_finish: true
  include:
  - rvm: 1.9.3
    env: PUPPET_GEM_VERSION="~> 3.5" STRICT_VARIABLES="yes"
  - rvm: 2.0.0
    env: PUPPET_GEM_VERSION="~> 3.5" STRICT_VARIABLES="yes"
  - rvm: 2.1.0
    env: PUPPET_GEM_VERSION="~> 3.5" STRICT_VARIABLES="yes"
  - rvm: 1.9.3
    env: PUPPET_GEM_VERSION="~> 3.6" STRICT_VARIABLES="yes"
  - rvm: 2.0.0
    env: PUPPET_GEM_VERSION="~> 3.6" STRICT_VARIABLES="yes"
  - rvm: 2.1.0
    env: PUPPET_GEM_VERSION="~> 3.6" STRICT_VARIABLES="yes"
  - rvm: 1.9.3
    env: PUPPET_GEM_VERSION="~> 3.7" STRICT_VARIABLES="yes"
  - rvm: 2.0.0
    env: PUPPET_GEM_VERSION="~> 3.7" STRICT_VARIABLES="yes"
  - rvm: 2.1.0
    env: PUPPET_GEM_VERSION="~> 3.7" STRICT_VARIABLES="yes"
  - rvm: 1.9.3
    env: PUPPET_GEM_VERSION="~> 4.0.0"
  - rvm: 2.0
    env: PUPPET_GEM_VERSION="~> 4.0.0"
  - rvm: 2.1
    env: PUPPET_GEM_VERSION="~> 4.0.0"
  - rvm: 2.2
    env: PUPPET_GEM_VERSION="~> 4.0.0"
  - rvm: 1.9.3
    env: PUPPET_GEM_VERSION="~> 4.1.0"
  - rvm: 2.0
    env: PUPPET_GEM_VERSION="~> 4.1.0"
  - rvm: 2.1
    env: PUPPET_GEM_VERSION="~> 4.1.0"
  - rvm: 2.2
    env: PUPPET_GEM_VERSION="~> 4.1.0"